<div class="carousel-wrapper">
    <button class="slide-button left" onclick="slide(-1)">❮</button>
    <button class="slide-button right" onclick="slide(1)">❯</button>
    <div class="scrolling-wrapper">
        {% for item in page.carousel_sources %}
        <div class="scrolling-card">
            <div class="domain-info" id="domain_info_{{ forloop.index }}">
                {% if item.icon_path %}
                <img src="{{ site.baseurl }}{{ item.icon_path }}" alt="{{ item.domain }}"
                     class="scrolling-icon">
                {% endif %}

                <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer" class="domain-link">
                    <p class="domain-text">{{ item.domain | remove: 'www.' }}</p>
                </a>
            </div>
            {% if item.image_path %}
            <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer" class="scrolling-link">
                <img src="{{ site.baseurl }}{{ item.image_path }}" alt="{{ item.title }}"
                     class="scrolling-image">
            </a>
            {% endif %}

            <div class="scrolling-info">
                <h5 class="scrolling-title">{{ item.title }}</h5>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<style>
    .scrolling-wrapper {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        margin-bottom: 20px; /* Add margin to the bottom */
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .scrolling-wrapper::-webkit-scrollbar {
        display: none;
    }

    .carousel-wrapper {
        position: relative; /* Establishes a point of reference for the buttons */
    }

    /* Hide scrollbar for Firefox */
    .scrolling-wrapper {
        scrollbar-width: none;
    }

    /* Hide scrollbar for IE and Edge */
    .scrolling-wrapper {
        -ms-overflow-style: none;
    }

    .scrolling-card {
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-right: 15px;
        width: 375px;
    }

    .scrolling-image {
        height: 225px;
        width: auto;
        min-width: 225px;
        object-fit: cover;
    }

    .scrolling-icon {
        width: 24px; /* or any other size you prefer */
        height: 24px; /* same as width for a 1:1 aspect ratio */
        object-fit: contain; /* or 'contain' if you don't want to crop the image */
        margin-right: 8px; /* Add some space to the right of the icon */
        min-width: 16px; /* Or whatever size you prefer */
        min-height: 16px;
    }

    .scrolling-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .scrolling-title {
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 375px;
        height: 90px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .domain-info {
        display: flex;
        align-items: center; /* Vertically center the items */
        justify-content: center; /* Horizontally center the items */
        margin: 0;
        padding: 0;
    }

    .domain-text {
        margin-bottom: 0;
    }

    .domain-link {
        display: flex;
        align-items: center; /* vertically align items if they are of different heights */
    }

    .slide-button {
        position: absolute;
        z-index: 9999;
        top: 50%;
        transform: translateY(-45%);
        font-size: 2rem;
        background: none;
        border: none;
        color: #000;
        cursor: pointer;
        opacity: 0.7;
    }

    .left {
        left: 0;
    }

    .right {
        right: 0;
    }

    .slide-button.left {
        left: -6%;
    }

    .slide-button.right {
        right: -6%;
    }

    .scrolling-link {
        display: flex;
        justify-content: center; /* Center items horizontally */
    }

    @media (prefers-color-scheme: dark) {
        .slide-button {
            color: white;
        }
    }

</style>


<script>

    let container = document.querySelector('.scrolling-container');

    function slide(direction) {
        const container = document.querySelector('.scrolling-wrapper');
        container.scrollLeft += direction * 300;  // Adjust 300 to the amount you want to scroll
    }

    function checkSlideButtons() {
        let slideButtons = document.querySelectorAll('.slide-button');
        if (container.scrollWidth > container.clientWidth) {
            slideButtons.forEach(btn => btn.style.display = 'block');
        } else {
            slideButtons.forEach(btn => btn.style.display = 'none');
        }
    }

    // Check initially
    checkSlideButtons();

    // Check when the window is resized
    window.addEventListener('resize', checkSlideButtons);
</script>